/* mobile */

@media screen and (max-width: $mobile) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* header */

  header {
    width: 100%;
    margin: 20px auto;
    padding-bottom: 20px;
    overflow: hidden;
  }

  /* menu */

  .header-menu__list {
    width: 95%;
    margin: 20px auto;

    .header-menu__item { /* menu for desktop */
      display: none;

      &:nth-child(4) { /* logo */
        display: block;
        width: 100%;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-size: 42px;

        .header-menu__logo2 {
          display: none;
        }
      }

      &:last-child { /* menu for mobile and tablet */
        display: block;
        width: 100%;
        margin: 20px auto;
        margin-top: 10px;
        text-align: center;

        .header-menu__link {
          text-decoration: none;
          text-transform: uppercase;
          font-family: $bold;
          font-size: 60px;
          font-weight: bold;
          color: black;
        }

        .header-menu__modal-window {
          position: fixed;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          z-index: 99999;
          display: none;
          overflow-y: scroll;

          &:target {
            display: block;
          }
        }

        .header-menu__modal-window > div {
          width: 100%;
          height: 100%;
          padding-top: 80px;
          background: rgba(128, 128, 128, 0.8);
        }

        .header-menu__modal-close {
          color: $red;
          position: absolute;
          right: 40px;
          top: 20px;
          text-align: center;
          width: 24px;
          text-decoration: none;
          text-shadow: $text-shadow2;
          font-family: Arial, sans-serif;
          font-size: 48px;
          font-weight: bold;
        }

        .header-menu__modal-list { /* sub-menu for mobile and tablet */
          position: absolute;
          left: 20px;

          .header-menu__modal-item .header-menu__modal-link {
            display: block;
            margin-top: 20px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: left;
            color: white;
            font-family: $bold;
            font-size: 28px;
            font-weight: bold;
          }
        }
      }
    }
  }

  /* search */

  .header-search {
    display: block;
    width: 95%;
    margin: 20px auto;
    overflow: hidden;
  }

  .header-search__input {
    width: 80%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
    float: left;
    background: white;
    border: 1px solid black;
    outline: none;
    font-family: $regular;

    &:focus {
      outline: 2px solid black;
    }
  }

  .header-search__clear {
    display: none;
    float: left;
    color: $red;
    margin-left: -18px;
    margin-top: 6px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  .header-search__submit {
    width: 15%;
    height: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    float: right;
    background: black;
    border-radius: 3px;
  }

  .header-search__image {
    width: 15px;
    display: block;
    margin: 0px auto;
  }

  mark {
    background: yellow;
  }

  mark.current {
    background: orange;
  }

  /* slider */

  .header-slider__list {
    width: 95%;
    position: relative;
    margin: auto;
    overflow: hidden;

    .header-slider__image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: inline;
      float: right;
    }
  }

  .header-slider__item-prev,
  .header-slider__item-next {
    display: inline;
    margin-top: -130px;
    position: relative;
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: $text-shadow;
  }

  .header-slider__item-prev {
    float: left;
    margin-left: 3%;
  }

  .header-slider__item-next {
    float: right;
    margin-right: 3%;
  }

  /* content */

  main {
    width: 100%;
  }

  .tabs {
    display: none;
  }

  .tabs.active {
    display: block;
  }

  /* home */

  .section-home {
    width: 95%;
    margin: 20px auto;
    height: 500px;
    overflow-y: scroll;
  }

  .section-home__title {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
    font-family: $black;
    font-size: 26px;
  }

  .section-home__header1 {
    text-align: center;
    margin: 20px auto;
    font-family: $bold;
    font-size: 18px;
  }

  .section-home__text {
    width: 98%;
    margin: 20px auto;
    font-family: $regular;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
  }

  .section-home__button {
    width: 64%;
    height: 35px;
    margin: 20px auto;
    text-align: center;
    padding-top: 17px;
    display: block;
    text-shadow: $text-shadow;
    user-select: none;
    border: 1px solid $darkred;
    @include border-radius(5px);
    outline: none;
    background: $red;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    @include transition(0.2s);
    font-family: $bold;
    font-size: 18px;
    font-weight: bold;

    &:active {
      @include transform(translate(0, 4px));
    }
  }

  /* reviews */

  .section-home__header2 {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    margin-top: 40px;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 18px;
  }

  .section-home__list {
    width: 98%;
    margin: 20px auto;

    .section-home__item {
      border: 1px dashed black;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      line-height: 1.5;
      text-align: justify;

      .section-home__text1 {
        font-family: $italic;
        font-style: italic;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .section-home__text2 {
        font-family: $bold;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  /* rooms */

  .section-rooms {
    width: 95%;
    margin: 20px auto;
    height: 500px;
    overflow-y: scroll;
  }

  .section-rooms__title {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 26px;
    font-weight: bold;
  }

  /* filter */

  .section-rooms__radio {
    display: none;
  }

  .section-rooms__label {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 0px auto;
    font-family: $bold;
    font-weight: bold;
    margin-left: 0.9%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
  }

  #section-rooms-classic__all:checked ~ .section-rooms__list,
  #section-rooms-luxe__all:checked ~ .section-rooms__list,
  #section-rooms-deluxe__all:checked ~ .section-rooms__list,
  #section-rooms-classic__available:checked ~ .section-rooms__list.available,
  #section-rooms-luxe__available:checked ~ .section-rooms__list.available,
  #section-rooms-deluxe__available:checked ~ .section-rooms__list.available,
  #section-rooms-classic__booked:checked ~ .section-rooms__list.booked,
  #section-rooms-luxe__booked:checked ~ .section-rooms__list.booked,
  #section-rooms-deluxe__booked:checked ~ .section-rooms__list.booked {
    display: block;
  }

  #section-rooms-classic__available:checked ~ .section-rooms__list.booked,
  #section-rooms-luxe__available:checked ~ .section-rooms__list.booked,
  #section-rooms-deluxe__available:checked ~ .section-rooms__list.booked,
  #section-rooms-classic__available:checked ~ .section-rooms__title:nth-of-type(3),
  #section-rooms-luxe__available:checked ~ .section-rooms__title:nth-of-type(3),
  #section-rooms-deluxe__available:checked ~ .section-rooms__title:nth-of-type(3),
  #section-rooms-classic__booked:checked ~ .section-rooms__list.available,
  #section-rooms-luxe__booked:checked ~ .section-rooms__list.available,
  #section-rooms-deluxe__booked:checked ~ .section-rooms__list.available,
  #section-rooms-classic__booked:checked ~ .section-rooms__title:nth-of-type(2),
  #section-rooms-luxe__booked:checked ~ .section-rooms__title:nth-of-type(2),
  #section-rooms-deluxe__booked:checked ~ .section-rooms__title:nth-of-type(2) {
    display: none;
  }

  #section-rooms-classic__all:checked ~ .section-rooms__label[for=section-rooms-classic__all],
  #section-rooms-luxe__all:checked ~ .section-rooms__label[for=section-rooms-luxe__all],
  #section-rooms-deluxe__all:checked ~ .section-rooms__label[for=section-rooms-deluxe__all],
  #section-rooms-classic__available:checked ~ .section-rooms__label[for=section-rooms-classic__available],
  #section-rooms-luxe__available:checked ~ .section-rooms__label[for=section-rooms-luxe__available],
  #section-rooms-deluxe__available:checked ~ .section-rooms__label[for=section-rooms-deluxe__available],
  #section-rooms-classic__booked:checked ~ .section-rooms__label[for=section-rooms-classic__booked],
  #section-rooms-luxe__booked:checked ~ .section-rooms__label[for=section-rooms-luxe__booked],
  #section-rooms-deluxe__booked:checked ~ .section-rooms__label[for=section-rooms-deluxe__booked] {
    background: $green;
    color: white;
    text-shadow: $text-shadow;
  }

  /* available and booked rooms */

  .section-rooms__list {
    width: 98%;
    margin: 20px auto;
    overflow: hidden;

    .section-rooms__item {
      width: 98%;
      margin-bottom: 40px;
      border: 1px solid black;
      padding-top: 10px;
      padding-bottom: 10px;

      .section-rooms__header1 {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: $bold;
        font-size: 18px;
        text-align: center;
      }

      .section-rooms__image {
        width: 100%;
        margin-bottom: 20px;
      }

      .section-rooms__header2 {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 20px;
        padding-left: 5px;
        text-align: center;
        font-family: $bold;
        font-size: 18px;
      }

      .section-rooms__text {
        margin-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1.5;
        text-align: justify;
        font-family: $regular;
      }

      .section-rooms__button {
        width: 64%;
        height: 35px;
        margin: 10px auto;
        text-align: center;
        padding-top: 17px;
        display: block;
        text-shadow: $text-shadow;
        user-select: none;
        border: 1px solid $darkred;
        @include border-radius(5px);
        outline: none;
        background: $red;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        @include transition(0.2s);
        font-family: $bold;
        font-size: 18px;
        font-weight: bold;

        &:active {
          @include transform(translate(0, 4px));
        }
      }

      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(15),
      &:nth-child(16),
      &:nth-child(23),
      &:nth-child(24) {
        border: none;
        padding: 0px;
      }

      .section-rooms__link {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        background: black;
        font-family: $bold;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  /* pagination */

  .section-rooms__list.pagination .section-rooms__item {
    border: none;
  }

  /* modal window for booking */

  .section-rooms__modal-window {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99999;
    display: none;
    overflow-y: scroll;
  }

  .section-rooms__modal-window > div {
    width: 100%;
    height: 100%;
    padding-top: 35%;
    background: rgba(128, 128, 128, 0.8);
  }

  .section-rooms__modal-close {
    color: $red;
    position: absolute;
    right: 40px;
    top: 20px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    text-shadow: $text-shadow2;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 48px;
  }

  .section-rooms__modal-input {
    display: block;
    width: 54%;
    margin: 20px auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-family: $regular;
  }

  .section-rooms__modal-button {
    width: 55%;
    height: 55px;
    margin: 20px auto;
    text-align: center;
    padding-top: 5px;
    display: block;
    text-shadow: $text-shadow;
    user-select: none;
    border: 1px solid $darkred;
    @include border-radius(5px);
    outline: none;
    background: $red;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    @include transition(0.2s);
    font-family: $bold;
    font-size: 18px;
    font-weight: bold;

    &:active {
      @include transform(translate(0, 4px));
    }
  }

  /* restaurant */

  .section-restaurant {
    width: 95%;
    margin: 20px auto;
    height: 500px;
    overflow-y: scroll;
  }

  .section-restaurant__title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 26px;
  }

  .section-restaurant__image {
    width: 100%;
  }

  .section-restaurant__header {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-family: $bold;
    font-size: 18px;
    text-transform: capitalize;
  }

  .section-restaurant__text {
    width: 98%;
    margin: 20px auto;
    line-height: 1.5;
    font-family: $regular;
    text-align: justify;
  }

  /* gallery */

  .section-gallery {
    width: 95%;
    margin: 20px auto;
    height: 500px;
    overflow-y: scroll;
  }

  .section-gallery__title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 24px;
  }

  .section-gallery__list {
    width: 100%;
    margin: 20px auto;
    overflow: hidden;

    .section-gallery__item {
      display: inline;
      float: left;
      margin-right: 20px;

      .section-gallery__image {
        display: block;
        margin: 0px auto;
        object-fit: cover;
        width: 300px;
        max-width: 98%;
        height: 300px;
        margin: 10px auto;
      }

      .section-gallery__modal-window {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 99999;
        display: none;

        &:target {
          display: block;
        }
      }

      .section-gallery__modal-window > div {
        width: 100%;
        height: 100%;
        padding-top: 80px;
        background: rgba(128, 128, 128, 0.8);
      }

      .section-gallery__modal-close {
        color: $red;
        position: absolute;
        right: 40px;
        top: 20px;
        text-align: center;
        width: 24px;
        text-decoration: none;
        text-shadow: $text-shadow2;
        font-weight: bold;
        font-family: Arial, sans-serif;
        font-size: 48px;
      }

      .section-gallery__modal-image {
        display: block;
        object-fit: cover;
        width: 100%;
        margin-top: 10%;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  /* about */

  .section-about {
    width: 95%;
    margin: 20px auto;
    height: 500px;
    overflow-y: scroll;
  }

  .section-about__title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 26px;
  }

  .section-about__header {
    width: 98%;
    margin: 20px auto;
    font-size: 24px;
    line-height: 1.5;
    font-family: $bold;
    font-size: 18px;
    text-align: justify;
  }

  .section-about__text {
    width: 98%;
    margin: 20px auto;
    line-height: 1.5;
    font-family: $regular;
    text-align: justify;
  }

  /* contact */

  .section-contact {
    width: 95%;
    margin: 20px auto;
    height: 500px;
    overflow-y: scroll;
  }

  .section-contact__title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 26px;
  }

  /* contact form */

  .section-contact__form {
    width: 98%;
    margin: 20px auto;
  }

  .section-contact__header {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-family: $bold;
    font-size: 18px;
    text-transform: capitalize;
  }

  .section-contact__input {
    display: block;
    width: 95%;
    margin: 20px auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: black;
    color: white;
    font-family: $regular;
  }

  .section-contact__textarea {
    display: block;
    width: 95%;
    margin: 20px auto;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: black;
    color: white;
    resize: none;
    font-family: $regular;
  }

  .section-contact__input::placeholder,
  .section-contact__textarea::placeholder {
    color: white;
  }

  .section-contact__submit {
    display: block;
    width: 97%;
    margin: 20px auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: black;
    color: white;
    font-family: $bold;
    font-size: 18px;
    font-weight: bold;
  }

  /* contacts */

  .section-contact__paragraph {
    width: 98%;
    margin: 0px auto;
    line-height: 1.5;
    text-align: justify;
  }

  .section-contact__text {
    width: 98%;
    margin: 20px auto;
    font-family: $regular;
  }

  .section-contact__link {
    text-decoration: none;
    color: black;
    font-family: $regular;
  }

  /* map */

  .section-contact__map {
    width: 95%;
    margin: 20px auto;
    height: 280px;
    border: 4px solid black;
  }

  /* footer */

  footer {
    width: 95%;
    margin: 20px auto;
    overflow: hidden;
  }

  /* phone number */

  .footer__text {
    width: 100%;
    text-align: center;
    margin: 10px auto;
    color: black;
    text-decoration: none;
    font-family: $bold;
    font-size: 28px;
    font-weight: bold;
  }

  /* social buttons */

  .footer__list {
    width: 98%;
    margin: 20px auto;
    overflow: hidden;

    .footer__item {
      display: inline;
      float: left;
      margin-left: 6px;
      margin-right: 6px;
      margin-bottom: 20px;

      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9) {
        margin-left: 0px;
        margin-right: 0px;
      }

      .footer__link {
        display: block;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Mono Social Icons Font";
        font-size: 44px;
      }
    }

    .footer__item.facebook-share,
    .footer__item.twitter-share,
    .footer__item.google-share { /* share */
      width: 92%;
      display: block;
      margin-right: 10px;
      padding: 10px;
      text-align: center;
      background: black;
      color: white;
      border: 1px solid black;
      border-radius: 6px;
      font-family: "Mono Social Icons Font";
      font-size: 22px;
    }
  }

  /* copyright */

  .footer__copy {
    width: 100%;
    margin: 20px auto;
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: $bold;
    font-size: 12px;
    font-weight: bold;
  }
}
