/* mobile */

@media screen and (max-width: $mobile) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* header */

  .header {
    width: 100%;
    margin: 20px auto;
    padding-bottom: 20px;
    overflow: hidden;
  }

  /* menu */

  .header-menu__list {
    width: 95%;
    margin: 0px auto;
  }

  .header-menu__item,
  .header-menu__item.ie {
    display: none;
  }

  /* logo */

  .header-menu__image {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }

  .header-menu__logo-first,
  .header-menu__logo-second {
    fill: white;
    stroke: black;
    stroke-miterlimit:10;
  }

  .header-menu__logo-second {
    fill: black;
  }

  .header-menu__logo-third {
    fill: none;
  }

  .header-menu__logo-fourth {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
  }

  .header-menu__button {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 60px;
    font-weight: bold;
    color: black;
    background: none;
    outline: none;
    border: none;
  }

  /* menu for mobile and tablet */

  .header-menu__list.mobile {
    width: 100%;
    margin: 20px auto;
    margin-top: 10px;
    text-align: center;
  }

  .header-menu__modal-window {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99999;
    display: none;
    overflow-y: scroll;
  }

  .header-menu__modal-window > div {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background: rgba(128, 128, 128, 0.8);
  }

  .header-menu__modal-close {
    color: $darkred;
    background: none;
    outline: none;
    border: none;
    position: absolute;
    right: 40px;
    top: 20px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-family: Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
  }

  .header-menu__modal-list {
    position: absolute;
    left: 20px;
  }

  .header-menu__modal-item .header-menu__modal-link {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    color: white;
    font-family: $bold;
    font-size: 28px;
    font-weight: bold;
  }

  /* slider */

  .header-slider__list {
    width: 95%;
    position: relative;
    margin: auto;
    overflow: hidden;
  }

  .header-slider__item {
    border: 4px solid black;
  }

  .header-slider__image {
    width: 100%;
    height: 200px;
    display: inline;
    float: right;
  }

  /* slider buttons */

  .header-slider__item-prev,
  .header-slider__item-next {
    display: inline;
    margin-top: -120px;
    position: relative;
    border: none;
    background: none;
    outline: none;
  }

  .header-slider__item-prev {
    float: left;
    margin-left: 3%;
  }

  .header-slider__item-next {
    float: right;
    margin-right: 3%;
  }

  .header-slider__item-arrow {
    width: 40px;
    height: 40px;
    fill: white;
  }

  /* slider buttons for internet explorer < 9 */

  .header-slider__item-arrow.ie {
    display: none;
  }

  /* content */

  .main {
    width: 100%;
  }

  /* home */

  .section-home {
    width: 95%;
    margin: 20px auto;
  }

  .section-home__title {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
    font-family: $black;
    font-size: 26px;
  }

  .section-home__header {
    text-align: center;
    margin: 20px auto;
    font-family: $bold;
    font-size: 18px;
  }

  .section-home__text {
    width: 98%;
    margin: 20px auto;
    font-family: $regular;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
  }

  .section-home__button {
    width: 64%;
    height: 35px;
    margin: 20px auto;
    text-align: center;
    padding-top: 17px;
    display: block;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    user-select: none;
    border: 1px solid $darkred;
    @include border-radius(5px);
    outline: none;
    background: $red;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    @include box-shadow(0 6px rgb(77, 0, 0), 0 3px 15px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5));
    @include transition(0.2s);
    font-family: $bold;
    font-size: 18px;
    font-weight: bold;

    &:active {
      @include transform(translate(0, 4px));
    }
  }

  .section-home__heading {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    margin-top: 40px;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 18px;
  }

  .section-home__list {
    width: 98%;
    margin: 20px auto;
  }

  .section-home__item {
    border: 1px dashed black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    line-height: 1.5;
    text-align: justify;
  }

  .section-home__article {
    font-family: $italic;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .section-home__name {
    font-family: $bold;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* rooms */

  .section-rooms {
    width: 95%;
    margin: 20px auto;
  }

  .section-rooms__title {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 26px;
    font-weight: bold;
  }

  /* filter */

  .section-rooms__filter {
    width: 97%;
    margin: 20px auto;
    text-transform: uppercase;
    font-family: $bold;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    border: none;
  }

  .filter-active {
    background: $green;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  }

  /* available and booked rooms */

  .section-rooms__list {
    width: 98%;
    margin: 20px auto;
    overflow: hidden;
  }

  .section-rooms__item {
    width: 98%;
    margin-bottom: 40px;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .section-rooms__header {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 18px;
    text-align: center;
  }

  .section-rooms__image {
    width: 100%;
    margin-bottom: 20px;
  }

  .section-rooms__heading {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
    padding-left: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 16px;
  }

  .section-rooms__text {
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.5;
    text-align: justify;
    font-family: $regular;
  }

  .section-rooms__button {
    width: 64%;
    height: 55px;
    margin: 10px auto;
    text-align: center;
    display: block;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    user-select: none;
    border: 1px solid $darkred;
    @include border-radius(5px);
    outline: none;
    background: $red;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    @include box-shadow(0 6px rgb(77, 0, 0), 0 3px 15px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5));
    @include transition(0.2s);
    font-family: $bold;
    font-size: 18px;
    font-weight: bold;

    &:active {
      @include transform(translate(0, 4px));
    }
  }

  /* modal window for booking */

  .section-rooms__modal-window {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99999;
    display: none;
    overflow-y: scroll;
  }

  .section-rooms__modal-window > div {
    width: 100%;
    height: 100%;
    padding-top: 40%;
    background: rgba(128, 128, 128, 0.8);
  }

  .section-rooms__modal-close {
    color: $red;
    position: absolute;
    right: 40px;
    top: 20px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 48px;
    background: none;
    border: none;
    outline: none;
  }

  .section-rooms__modal-input {
    display: block;
    width: 54%;
    margin: 20px auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-family: $regular;
  }

  .section-rooms__modal-button {
    width: 55%;
    height: 55px;
    margin: 20px auto;
    text-align: center;
    padding-top: 5px;
    display: block;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    user-select: none;
    border: 1px solid $darkred;
    @include border-radius(5px);
    outline: none;
    background: $red;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    @include box-shadow(0 6px rgb(77, 0, 0), 0 3px 15px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5));
    @include transition(0.2s);
    font-family: $bold;
    font-size: 18px;
    font-weight: bold;

    &:active {
      @include transform(translate(0, 4px));
    }
  }

  /* restaurant */

  .section-restaurant {
    width: 95%;
    margin: 20px auto;
  }

  .section-restaurant__title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 26px;
  }

  .section-restaurant__image {
    width: 100%;
  }

  .section-restaurant__header {
    width: 100%;
    margin: 40px auto;
    text-align: center;
    font-family: $bold;
    font-size: 22px;
    text-transform: capitalize;
  }

  .section-restaurant__text {
    width: 98%;
    margin: 20px auto;
    line-height: 1.5;
    font-family: $regular;
    text-align: justify;
  }

  /* gallery */

  .section-gallery {
    width: 95%;
    margin: 20px auto;
  }

  .section-gallery__title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 24px;
  }

  .section-gallery__list {
    width: 98%;
    margin: 20px auto;
    overflow: hidden;
  }

  .section-gallery__item {
    width: 98%;
    margin-bottom: 20px;
  }

  .section-gallery__button {
    border: none;
    outline: none;
    background: none;
  }

  .section-gallery__image {
    display: block;
    width: 100%;
    border: 3px solid black;
  }

  .section-gallery__modal-window {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99999;
    display: none;
  }

  .section-gallery__modal-window > div {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background: rgba(128, 128, 128, 0.8);
  }

  .section-gallery__modal-close {
    color: $red;
    position: absolute;
    right: 40px;
    top: 20px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 48px;
    border: none;
    outline: none;
    background: none;
  }

  .section-gallery__modal-image {
    display: block;
    width: 100%;
    margin-top: 10%;
    text-transform: uppercase;
    text-decoration: none;
  }

  /* about */

  .section-about {
    width: 95%;
    margin: 20px auto;
  }

  .section-about__title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 26px;
  }

  .section-about__header {
    width: 98%;
    margin: 20px auto;
    line-height: 1.5;
    font-family: $bold;
    font-size: 22px;
    text-align: justify;
  }

  .section-about__text {
    width: 98%;
    margin: 20px auto;
    line-height: 1.5;
    font-family: $regular;
    text-align: justify;
  }

  /* contact */

  .section-contact {
    width: 95%;
    margin: 20px auto;
  }

  .section-contact__title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 26px;
  }

  .section-contact__form {
    width: 98%;
    margin: 20px auto;
  }

  .section-contact__header {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    font-family: $bold;
    font-size: 18px;
    text-transform: capitalize;
  }

  .section-contact__input {
    display: block;
    width: 95%;
    margin: 20px auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: black;
    color: white;
    font-family: $regular;
  }

  .section-contact__textarea {
    display: block;
    width: 95%;
    margin: 20px auto;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: black;
    color: white;
    resize: none;
    font-family: $regular;
  }

  .section-contact__input::placeholder,
  .section-contact__textarea::placeholder {
    color: white;
  }

  .section-contact__submit {
    display: block;
    width: 97%;
    margin: 20px auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: black;
    color: white;
    font-family: $bold;
    font-size: 18px;
    font-weight: bold;
  }

  .section-contact__paragraph {
    width: 98%;
    margin: 0px auto;
    line-height: 1.5;
    text-align: justify;
  }

  .section-contact__text {
    width: 98%;
    margin: 20px auto;
    font-family: $regular;
  }

  .section-contact__link {
    text-decoration: none;
    color: black;
    font-family: $regular;
  }

  .section-contact__map {
    width: 95%;
    margin: 20px auto;
    height: 280px;
    border: 4px solid black;
  }

  /* footer */

  .footer {
    width: 100%;
    margin: 40px auto;
    padding-top: 20px;
    border-top: 10px solid $darkred;
  }

  /* social buttons */

  .footer__list {
    width: 95%;
    margin: 20px auto;
    overflow: hidden;
  }

  /* social buttons for internet explorer < 9 */

  .footer__list.ie {
    display: none;
  }

  .footer__item {
    display: inline;
    float: left;
    margin-right: 87px;
    margin-bottom: 20px;
  }

  .footer__item.margin-right,
  .footer__item.margin-right.mobile {
    margin-right: 0px;
  }

  .footer__link {
    display: block;
    color: black;
    padding: 8px;
    text-align: center;
    background: black;
    color: white;
    @include border-radius(6px);
    font-family: $bold;
    font-weight: bold;
  }

  .footer__text {
    width: 130%;
    font-size: 22px;
  }

  .footer__button {
    width: 300px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    border: none;
    @include border-radius(6px);
    outline: none;
    font-family: $bold;
    font-weight: bold;
    font-size: 22px;
  }

  .footer__image {
    width: 25px;
    height: 25px;
    fill: white;
  }

  .footer__copy {
    width: 100%;
    margin: 20px auto;
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: $bold;
    font-size: 12px;
    font-weight: bold;
  }
}
