$regular:      'Rubik Regular', Arial, sans-serif;
$bold:         'Rubik Bold', Arial, sans-serif;
$black:        'Rubik Black', Arial, sans-serif;
$italic:       'Rubik Italic', Arial, sans-serif;
$icons:        'Mono Social Icons Font';
$mobile:       320px;
$tablet:       768px;
$desktop:      1440px;
$red:          #800000;
$darkred:      #4d0000;
$green:        #00cc00;
$opacity:      0.8;
$box-shadow:   0 6px rgb(77, 0, 0), 0 3px 15px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5);
$text-shadow:  0 -1px rgba(0, 0, 0, 0.5);
$text-shadow2: 2px 4px 3px rgba(0,0,0,0.3);
